@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
.cityContainer {
  display: flex;
  justify-content: center;
}
.ciudad {
  border: 1px rgb(255, 255, 255) solid;
  padding: 2%;
  border-radius: 5%;
  backdrop-filter: blur(7px);
}
.data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.titleCity {
  margin-bottom: 5%;
  font-family: "Fjalla One";
}
